---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.tsx";
import Intro from "@/components/Intro.tsx";
import ImageGallery from "@/components/ImageGalery.astro";
import PostList from "@/components/PostList.tsx";
import Cv from "@/components/Cv.tsx";
import { getCollection } from "astro:content";

let publishedBlogEntries = await getCollection("blog", ({ data }:any) => {
  // return !data.draft with 3 entries
  return !data.draft 
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});



  const intro = {
    headline: 'Software Developer, Marketer, Founder, and more.',
    body: "I'm Michael, a at first self-taught, now university learning developer from Germany. I'm passionate about creating SaaS software, marketing and entrepreneurship. My previous experience lies in Project Management, Marketing and Sales. I've co-founded a company and now I'm switching to a full-time developer role. I'm currently working on my own SaaS project while studying.",
    social: [
      {
        name: 'Twitter',
        url: 'https://twitter.com/michaelbohrer_',
        
      },
      {
        name: 'GitHub',
        url: ''
      }
    ]
  }

---

<Layout title="Welcome to Astro.">
  <Header image="https://uploads.rocketcrm.io/org_8nVyCkQ2MHS1iHtt/uploads/1717482630461-thumb-3_-_Michael_Bohrer-003.jpg"/>
  <Intro 
      headline={intro.headline}
      body={intro.body}
      social={intro.social}
    />
  <ImageGallery />
  <div class="sm:px-8 mt-24 md:mt-28">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
              <div
                class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
              >
                <div>
                  <PostList articles={publishedBlogEntries} number={3}/>
                   
                </div>
                <div class="space-y-10 lg:pl-16 xl:pl-24">
                  <Cv client:visible/>
                </div>
              </div>
            
          </div>
        </div>
      </div>
  </div>
</Layout>
