---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<div class="max-w-2xl">
		<h1
			class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
		>
			Welcome.
		</h1>
		<p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
			Welcome to your new Astro site! This is the home page. You can edit
			this page in <code>src/pages/index.astro</code>. You can also create
			new pages in <code>src/pages/</code> and link to them in your navigation.
		</p>
		<!-- <div class="mt-6 flex gap-6">
			<SocialLink href="#" aria-label="Follow on X" icon={XIcon} />
			<SocialLink
				href="#"
				aria-label="Follow on Instagram"
				icon={InstagramIcon}
			/>
			<SocialLink
				href="#"
				aria-label="Follow on GitHub"
				icon={GitHubIcon}
			/>
			<SocialLink
				href="#"
				aria-label="Follow on LinkedIn"
				icon={LinkedInIcon}
			/>
		</div> -->
	</div>
</Layout>
