---
import { Headline1, Headline2, Headline3, Paragraph } from "@/components/ui/Typography";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Legal">
    <div class="sm:px-8 mt-9">
        <div class="mx-auto w-full max-w-7xl lg:px-8">
          <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <Headline2>Imprint</Headline2>
          <Paragraph>
            Michael Böhrer
            <br />
            Karolinenhöhe 41a <br />
            83059 Kolbermoor <br />
            Germany
          </Paragraph>
          <Headline3>Contact</Headline3>
          <Paragraph>michael@rcktsftwr.com</Paragraph>
          <Headline3>Editorially responsible</Headline3>
          <Paragraph>
            Michael Böhrer
            <br />
            Karolinenhöhe 41a <br />
            83059 Kolbermoor <br />
            Germany
          </Paragraph>
          <Headline3>EU dispute resolution</Headline3>
          <Paragraph>
            The European Commission provides a platform for online dispute
            resolution (OS):
            <br />
            https://ec.europa.eu/consumers/odr/.
            <br />
            You can find our e-mail address in the legal notice above
          </Paragraph>
          <Headline3>
            Consumer dispute resolution/universal arbitration board
          </Headline3>
          <Paragraph>
            We are not willing or obliged to participate in dispute resolution
            proceedings before a consumer arbitration board.
          </Paragraph>
        </div>
      </div>
      </div>
    </div>
</Layout>