---

---

<div class="sm:px-8 mt-9">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="max-w-2xl">
          <img
            class="inline-block h-20 w-20 rounded-full"
            src="https://uploads.rocketcrm.io/org_8nVyCkQ2MHS1iHtt/uploads/1717482630461-thumb-3_-_Michael_Bohrer-003.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
